<div class="row" *ngIf=" games">
  <div class="col-sm-12 col-md-6 col-lg-4" style="margin-bottom: 2rem;display: flex" *ngFor="let game of games">

    <div style="float: left">
      <img [src]="game.thumbnail" [alt]="game.name" width="150" height="140">
    </div>
    <div style=" float: left; margin-left: 1rem">
      <p class="title">{{game.name}}</p>
      <app-star-component [star]="game.rating"></app-star-component>
      <p>{{game.vendor}}</p>
      <button type="button" class="btn btn-outline-secondary" (click)="selectGame(game)">
        <i class="fas fa-plus"></i> Detail</button>
      <button type="button" class="btn btn-outline-success" (click)="navigateTo(game)">
        Play</button>
    </div>
  </div>
</div>
<app-game-detail-component #gameDetail></app-game-detail-component>
